cffi==1.7.0
cryptography==1.4
Django==1.9.6
django-cors-headers==1.1.0
django-pagseguro2==1.1.0
djangorestframework==3.3.3
enum34==1.1.6
httpretty==0.8.6
idna==2.1
ipaddress==1.0.16
MySQL-python==1.2.5
paypalrestsdk==1.11.7
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==16.0.0
pyrcws==0.2.5
python-cielo==0.5
python-dateutil==2.5.3
requests==2.10.0
six==1.10.0
suds==0.4
xmltodict==0.10.1
